*{
	margin: 0;
	padding: 0;
}

html, body {
    height: 100%;
	width: 100%;
}

#canvasWrapper {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 40%;
}

#canvas {
	border: 1px solid black;
	width: 100%;
	height: 100%;
}